@charset "UTF-8";

.photo1{
	width:700px;
	min-height: 500px;
	margin: 20px auto 50px;
	text-align: center;
}
.photo1 img{
	width: 700px;
	height: 500px;
	background-size: cover;
}

.btn a{
	text-decoration: none;
	color: black;
}

.btn a:hover {
	color: #0000FF;
	text-decoration: none;
}